# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs
logfile
pip-log.txt

# Flask stuff:
instance/
.webassets-cache

# Sphinx documentation
docs/_build/

# virtualenv
.venv/
venv/
ENV/
virtualenv*

scripts/config.json
scripts/create_tables.sql
scheduler/config.json
scheduler/static/bundle.js
scheduler/static/bundle.js.map
webui/node_modules
webui/src/client

